:root {
	--content-max-width: 1200px;
	--color-light-1: #ffffff;
	--color-light-2: #fdf9f3;
	--color-light-3: #eae7e2;

	--color-dark-1: #1d1e18;
	--color-dark-2: #272822;
	--color-dark-3: #3a3b33;

	--color-red: #ff6188;
	--color-orange: #fc9867;
	--color-yellow: #ffd866;
	--color-green: #a9dc76;
	--color-blue: #78dce8;
	--color-purple: #ab9df2;

	/* --primary-color: var(--color-light-2);
	--secondary-color: var(--color-dark-2); */
	--primary-color: var(--color-dark-2);
	--secondary-color: var(--color-light-2);
}

* {
	box-sizing: border-box;
}

header {
	display: flex;
	padding: 5px;
	background-color: var(--secondary-color);
	.logo {
		display: block;
	}
	.logo__svg {
		display: block;
		width: 45px;
		height: 45px;
	}
	.navigation__items {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.navigation__link {
		display: block;
		padding: 10px;
	}
}

body {
	margin: 0;
	padding: 0;
}

main {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: var(--primary-color);
}
.portfolio__list {
	width: 100%;
	max-width: var(--content-max-width);
	margin: auto;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	list-style: none;
}
@media screen and (max-width: 800px) {
	.portfolio__list {
		grid-template-columns: 1fr;
	}
}
.portfolio__item{
	overflow: hidden;
	margin-bottom: 10px;
	margin-right: 10px;
}
.card {
	--hover-transition-duration: 0.15s;
	--active-transition-duration: 0.05s;
	position: relative;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	height: calc(100% - 10px);
	text-decoration: none;
	transition-property: transform;
	transition-duration: var(--hover-transition-duration);
	transition-timing-function: linear;
	&:hover,
	&:focus {
		outline: none;
		transform: translate(-10px, -10px);
		h1 {
			text-decoration-color: var(--secondary-color);
		}
		.card__content::after {
			bottom: -36px;
			right: -36px;
		}
	}
	&:active {
		transform: translate(-5px, -5px);
		transition-duration: var(--active-transition-duration);
		transition-timing-function: ease;
	}
}
.card__content {
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-red);
	padding: 20px;
	height: 100%;
	background-color: var(--primary-color);
	overflow: hidden;
	z-index: 2;
	&::after {
		content: "";
		position: absolute;
		bottom: -18px;
		right: -18px;
		width: 36px;
		height: 36px;
		background-color: var(--color-red);
		transform: rotate(45deg);
		transform-origin: center;
		transition-property: bottom, right;
		transition-duration: var(--hover-transition-duration);
		transition-timing-function: linear;
	}
	img {
		display: block;
		width: 150px;
		height: 150px;
	}
	h1 {
		margin: 0;
		color: var(--secondary-color);
		text-decoration: underline;
		text-decoration-color: transparent;
		text-decoration-thickness: 1px;
		text-underline-offset: 5px;
		transition-property: text-decoration-color;
		transition-duration: var(--hover-transition-duration);
	}
	p {
		margin: 0;
		margin-top: 10px;
		color: var(--secondary-color);
	}
}
.card__shadow {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -10px;
	right: -10px;
	background-color: var(--color-red);
	z-index: 1;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 0 0;
	}
	&::before {
		right: 100%;
		bottom: 0;
		border-width: 0 10px 10px 0;
		border-color: transparent var(--color-red) transparent transparent;
	}
	&::after {
		right: 0;
		bottom: 100%;
		border-width: 10px 0 0 10px;
		border-color: transparent transparent transparent var(--color-red);
	}
}
.card__shadow-line {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 1px;
	height: 15px;
	background-color: var(--primary-color);
	transform: rotate(-45deg);
	transform-origin: 100% 100%;
}

footer {
	padding: 10px;
	background-color: var(--secondary-color);
}