@use './abstracts/all' as *;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--primary-color-2);
	transition-property: background-color;
	transition-duration: $theme-transition-duration;
	transition-timing-function: linear;
}

.main {
	padding-top: rem(20px);
	padding-bottom: rem(20px);
}

.h2 {
	@include content-max-size();
	font-family: $ubuntu;
	font-size: rem(35px);
	text-align: center;
	color: var(--secondary-color-2);
	transition-property: color;
	transition-duration: $theme-transition-duration;
	transition-timing-function: linear;
}

.footer {
	padding-top: rem(8px);
	padding-bottom: rem(8px);
	background-color: var(--primary-color-1);
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: var(--secondary-color-4);
	transition-property: background-color, border-top-color;
	transition-duration: $theme-transition-duration;
	transition-timing-function: linear;
	p {
		@include content-max-size();
		font-family: $open-sans;
		font-size: rem(16px);
		color: var(--secondary-color-2);
		text-align: center;
		transition-property: color;
		transition-duration: $theme-transition-duration;
		transition-timing-function: linear;
	}
}