@use './abstracts/all' as *;

.header {
	display: flex;
	gap: rem(16px);
	padding: rem(8px);
	background-color: var(--primary-color-1);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: var(--secondary-color-4);
	transition-property: background-color, border-bottom-color;
	transition-duration: $theme-transition-duration;
	transition-timing-function: linear;
}
.header-logo {
	display: block;
	&__svg {
		display: block;
		width: rem(36px);
		height: rem(36px);
		.text {
			fill: var(--primary-color-2);
			transition-property: fill;
			transition-duration: $theme-transition-duration;
			transition-timing-function: linear;
		}
		.background {
			fill: var(--secondary-color-2);
			transition-property: fill;
			transition-duration: $theme-transition-duration;
			transition-timing-function: linear;
		}
	}
}
.header-navigation {
	$navigation-selector: &;
	display: flex;
	align-items: center;
	@media screen and (max-width: bp(mobile-nav)) {
		order: 3;
	}
	&__toggle {
		display: none;
		width: rem(36px);
		height: rem(36px);
		border-width: 1px;
		border-style: solid;
		border-color: var(--secondary-color-2);
		border-radius: 50%;
		padding-top: rem(10px);
		padding-bottom: rem(10px);
		padding-left: rem(8px);
		padding-right: rem(8px);
		background-color: transparent;
		cursor: pointer;
		@media screen and (max-width: bp(mobile-nav)) {
			display: block;
		}
		&-inner {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}
		&-inner::before,
		&-bar,
		&-inner::after {
			position: absolute;
			left: 50%;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: var(--secondary-color-2);
			transform-origin: center;
			transition-property: opacity;
			transition-duration: 0.25s;
			transition-timing-function: linear;
			animation-duration: 0.25s;
			animation-timing-function: linear;
			animation-fill-mode: forwards;
		}
		&-inner::before {
			content: "";
			top: 0;
			transform: translateX(-50%);
			@keyframes hamburger-top-to-x {
				0% {
					height: 2px;
					top: 0;
					transform: translateX(-50%);
				}
				25% {
					height: 3px;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				66% {
					height: 3px;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				100% {
					height: 3px;
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}
			#{$navigation-selector}[data-state="opening"] &,
			#{$navigation-selector}[data-state="opened"] & {
				// height: 3px;
				// top: 50%;
				// transform: translate(-50%, -50%) rotate(45deg);
				animation-name: hamburger-top-to-x;
			}
			@keyframes hamburger-x-to-top {
				0% {
					height: 3px;
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
				33% {
					height: 3px;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				75% {
					height: 3px;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				100% {
					height: 2px;
					top: 0;
					transform: translateX(-50%);
				}
			}
			#{$navigation-selector}[data-state="closing"] &,
			#{$navigation-selector}[data-state="closed"] & {
				animation-name: hamburger-x-to-top;
			}
		}
		&-bar {
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			#{$navigation-selector}[data-state="opening"] &,
			#{$navigation-selector}[data-state="opened"] & {
				opacity: 0;
			}
		}
		&-inner::after {
			content: "";
			bottom: 0;
			transform: translateX(-50%);
			@keyframes hamburger-bottom-to-x {
				0% {
					height: 2px;
					bottom: 0;
					transform: translateX(-50%);
				}
				25% {
					height: 3px;
					bottom: 50%;
					transform: translate(-50%, 50%);
				}
				66% {
					height: 3px;
					bottom: 50%;
					transform: translate(-50%, 50%);
				}
				100% {
					height: 3px;
					bottom: 50%;
					transform: translate(-50%, 50%) rotate(-45deg);
				}
			}
			#{$navigation-selector}[data-state="opening"] &,
			#{$navigation-selector}[data-state="opened"] & {
				// height: 3px;
				// bottom: 50%;
				// transform: translate(-50%, 50%) rotate(-45deg);
				animation-name: hamburger-bottom-to-x;
			}
			@keyframes hamburger-x-to-bottom {
				0% {
					height: 3px;
					bottom: 50%;
					transform: translate(-50%, 50%) rotate(-45deg);
				}
				33% {
					height: 3px;
					bottom: 50%;
					transform: translate(-50%, 50%);
				}
				75% {
					height: 3px;
					bottom: 50%;
					transform: translate(-50%, 50%);
				}
				100% {
					height: 2px;
					bottom: 0;
					transform: translateX(-50%);
				}
			}
			#{$navigation-selector}[data-state="closing"] &,
			#{$navigation-selector}[data-state="closed"] & {
				animation-name: hamburger-x-to-bottom;
			}
		}
	}
	&__items-wrapper {
		overflow: hidden;
		@media screen and (max-width: bp(mobile-nav)) {
			position: absolute;
			top: rem(54px);
			left: 0;
			width: 100%;
			background-color: var(--primary-color-4);
			opacity: 0;
			visibility: hidden;
			transition-property: height, opacity, visibility;
			transition-duration: 0.25s;
			transition-timing-function: ease;
			#{$navigation-selector}[data-state="opening"] &,
			#{$navigation-selector}[data-state="opened"] & {
				opacity: 1;
				visibility: visible;
			}
			#{$navigation-selector}[data-state="opened"] & {
				display: block;
			}
			#{$navigation-selector}[data-state="closing"] &,
			#{$navigation-selector}[data-state="closed"] & {
				opacity: 0;
				visibility: hidden;
			}
			#{$navigation-selector}[data-state="closed"] & {
				display: none;
			}
		}
	}
	&__items {
		display: flex;
		gap: rem(8px);
		margin: 0;
		padding: 0;
		list-style: none;
		@media screen and (max-width: bp(mobile-nav)) {
			display: block;
			overflow: auto;
		}
	}
	&__link {
		display: block;
		padding: rem(6px);
		font-family: $ubuntu;
		font-size: rem(20px);
		line-height: 1;
		text-decoration: underline;
		text-decoration-thickness: 1px;
		text-decoration-style: solid;
		text-underline-offset: rem(4px);
		text-decoration-color: transparent;
		text-align: center;
		color: var(--secondary-color-2);
		transition:
			text-decoration-color 0.25s ease,
			color $theme-transition-duration linear;
		@media screen and (max-width: bp(mobile-nav)) {
			padding: rem(10px);
			border-bottom: 1px solid var(--secondary-color-4);
		}
		&:hover,
		&:focus {
			text-decoration-color: var(--secondary-color-2);
		}
	}
}
.header-theme-toggle {
	width: 100%;
	text-align: right;
	@media screen and (max-width: bp(mobile-nav)) {
		order: 2;
	}
	&__button {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: rem(16px);
		border-width: 1px;
		border-style: solid;
		border-color: var(--secondary-color-2);
		border-radius: rem(50%);
		padding: rem(8px);
		color: var(--secondary-color-2);
		background: var(--primary-color-4);
		cursor: pointer;
		transition-property: border-color, color, background;
		transition-duration: $theme-transition-duration;
		transition-timing-function: linear;
		&:active::before {
			width: rem(35px);
		}
		&::before {
			content: "";
			position: absolute;
			left: rem(2px);
			right: auto;
			display: block;
			width: rem(28px);
			height: rem(28px);
			border-width: 1px;
			border-style: solid;
			border-color: var(--secondary-color-1);
			border-radius: rem(28px);
			background-color: var(--primary-color-1);
			transition:
				width 0.25s ease,
				left $theme-transition-duration ease,
				transform $theme-transition-duration ease,
				border-color $theme-transition-duration linear,
				background-color $theme-transition-duration linear;
			:root[data-theme="dark"] & {
				left: rem(66px);
				transform: translateX(-100%);
			}
		}
		svg {
			position: relative;
			width: rem(18px);
			height: rem(18px);
			&.icon-light {
				path {
					fill: $color-yellow;
				}
				.sun-fill {
					fill: $color-yellow;
					transition-property: fill;
					transition-duration: $theme-transition-duration;
					transition-timing-function: linear;
					:root[data-theme="dark"] & {
						fill: transparent;
					}
				}
			}
			&.icon-dark {
				path {
					fill: transparent;
					stroke: var(--secondary-color-2);
					transition-property: fill;
					transition-duration: $theme-transition-duration;
					transition-timing-function: linear;
					:root[data-theme="dark"] & {
						fill: var(--secondary-color-2);
					}
				}
			}
		}
	}
}